/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after 
{
    content: '';
    content: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONTY */

@font-face
{
    font-family: 'bold';
    src: url('bold.eot');
    src: url('bold.eot?') format('embedded-opentype'),
         url('bold.woff') format('woff'),
         url('bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'light';
    src: url('light.eot');
    src: url('light.eot?') format('embedded-opentype'),
         url('light.woff') format('woff'),
         url('light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'icons';
    src: url('icons.eot?a30xwu');
    src: url('icons.eot?') format('embedded-opentype'),
         url('icons.woff?a30xwu') format('woff'),
         url('icons.ttf?a30xwu') format('truetype'),
         url('icons.svg?a30xwu') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ZÁKLADNÍ A OBECNÉ STYLY */

::selection
{
    color: #ffffff;
    background: #012837;
}

::-moz-selection
{
    color: #ffffff;
    background: #012837;
}

::-webkit-input-placeholder
{
    color: #c2c2be;
}

:-moz-placeholder
{
    color: #c2c2be;
}

::-moz-placeholder
{
    color: #c2c2be;
}

:-ms-input-placeholder
{
    color: #c2c2be;
}

input:focus, select:focus, textarea:focus, button:focus
{
    outline: none;
}

hr
{
    display: none;
}

h1, h2, h3, h4, h5, h6, strong, b
{
    font-weight: normal;
}

em, i
{
    font-style: normal;
}

a, a:hover
{
    color: #303030;
	text-decoration: underline;
	outline: none;
}

a:hover
{
    color: #00c790;
}

html, body
{
    height: 100%;
}

body
{
    color: #303030;
    font: 16px/1.4 'light', arial, verdana, helvetica, serif;
    background: #f4f5f0;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    cursor: default;
    width:1280px;
}

.clear {
    clear:both;
}

/* OBAL */

div.wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
}

/* HLAVIČKA */

header
{
    display: none;
}

/* OBSAH */

section h2, section h3, section h4
{
    font: 48px/1.2 'bold', arial, verdana, helvetica, serif;
}

div.page
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

section span.cursor
{
    border-right: #012837 1px solid;
}

section span.s
{
    color: #ffffff;
    background: #012837;
}

section.about h2, section.about h3, section.about h4, div.slide, div.form
{
    position: absolute;
    top: 50%;
    left: 180px;
}

section.about h2, section.about h3
{
    padding: 0 180px 0 0;
}

section.about h2
{
    font-size: 100px;
    line-height: 1.1;
    margin: -175px 0 0;
}

section.about h2 b
{
    font-size: 208px;
}

section.about h3
{
    color: #303030;
    margin: -185px 0 0;
}

section.about h3 span.b
{
    font-size: 80px;
}

section.about h4
{
    margin: 15px 0 0;
}

section.about h4 span.b
{
    font-size: 90px;
}

section.references h3 a, section.references h3 a:hover
{
    text-decoration: none;
}

section.references h3 a.active, section.references h3 a.active:hover
{
    text-decoration: underline;
}

section.references h3 span.slash
{
    font-family: 'light', arial, verdana, helvetica, serif;
}

section.references div.slide
{
    position: absolute;
    width: 880px;
    height: 480px;
    margin: -240px 0 0 0;
    overflow: hidden;
}

section.references div.carousel
{
    position: absolute;
    top: 80px;
    left: 0;
    width: 880px;
    height: 360px;
}

section.references div.item
{
    position: absolute;
    top: 0;
    left: 0;
    width: 880px;
    height: 360px;
}

section.references div.item:last-child
{
    left: 1760px;
}

section.references div.item:nth-child(2)
{
    left: 880px;
}

section.references dl dt
{
    width: 200px;
    font: 24px/2 'bold', arial, verdana, helvetica, serif;
    text-align: right;
}

section.references dl.references dt a, section.references dl.references dt a:hover
{
    text-decoration: none;
}

section.references dl.references dt.active a, section.references dl.references dt.active a:hover
{
    text-decoration: underline;
}

section.references dl.references dd
{
    position: absolute;
    display: none;
    top: 0;
    left: 240px;
    line-height: 2;
}

section.references dl.references dd.active
{
    display: block;
}

section.references dl.references dd strong
{
    font: 24px/2 'bold', arial, verdana, helvetica, serif;
}

section.references dl.clients dt, section.references dl.clients dd, section.references dl.news dt, section.references dl.news dd
{
    float: left;
}

section.references dl.clients dt, section.references dl.news dt
{
    clear: both;
    width: 100px;
    padding: 0 35px 0 100px;
}

section.references dl.clients dd, section.references dl.news dd
{
    width: 620px;
    line-height: 2;
    padding: 10px 0 10px 5px;
}

section.references dl.clients dd b
{
    font-family: 'bold', arial, verdana, helvetica, serif;
}
/*
section.references dl.clients dd strong
{
    font-family: 'bold', arial, verdana, helvetica, serif;
    text-decoration: underline;
}
*/

section.references dl.news {
    padding-top:18px;
}

section.references dl.news ul.dates {
    position: static;
    float: left;
    width:100px;
    text-align: right;
    padding: 0px 35px 0px 100px;

}

section.references dl.news ul.dates a {
    text-decoration: none;
}

section.references dl.news ul.dates a.active {
    text-decoration: underline;
}

section.references dl.news div.new {
    width:70%;
    float:left;
    margin-top:-3px;
    line-height: 30px;
    padding: 0 0 0 5px;
}

section.references dl.news div.new h4 {
    margin-bottom:20px;
    font: 24px/2 'bold',arial,verdana,helvetica,serif;
    line-height:normal;
}

section.references dl.news div.new.hidden {
    display: none;
}

section.references ul
{
    position: absolute;
    top: 380px;
    left: 240px;
}

section.references ul li
{
    padding: 0 0 10px;
}

section.references ul li a
{
    font-weight: bold;
}

section.contact h3
{
    font-size: 50px;
}

section.contact div.form
{
    margin: -240px 0 0 0;
}

section.contact h3 span.b
{
    text-decoration: underline;
}

section.contact form
{
    padding: 40px 0 0;
    white-space: nowrap;
}

section.contact .photo {
    margin:10px 0 0 0;
    position: relative;
    left:0px;
    float:left;
}

section.contact input, section.contact textarea
{
    width: 280px;
    color: #00c790;
    font: 20px 'bold', arial, verdana, helvetica, serif;
    background: #f4f5f0;
    border: #c2c2be 1px solid;
    padding: 10px;
    margin: 0 10px 0 0;
}

section.contact .wrap {
    display: inline-block;
    width: 100%;
    min-width: 700px;
}

section.contact textarea
{
    display: block;
    width: 75%;
    height: 120px;
    margin: 10px 0;
    resize: none;
    float:left;

}

section.contact input[type="submit"]
{
    clear: both;
    color: #303030;
    font: 48px/1.2 'bold', arial, verdana, helvetica, serif;
    text-decoration: underline;
    background: transparent;
    margin: 20px 0 0 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color:black;
    text-align:left;
}

section.contact input[type="submit"]:hover
{
    color: #00c790;
}

/* SKROLOVÁTKO */

div.scroll
{
    position: absolute;
    bottom: 10%;
    right: 50%;
    width: 150px;
    font: 20px/40px 'light', arial, verdana, helvetica, serif;
    letter-spacing: 2px;
    margin: 0 -10px 0 0;
}

div.scroll a, div.scroll a:hover
{
    display: block;
    color: #c2c2be;
    text-decoration: none;
}

div.scroll span
{
    position: absolute;
    top: 0;
    right: 0;
    color: #00c790;
    font: 40px 'icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* PATIČKA */

footer
{
    position: absolute;
    bottom: 40px;
    float: left;
    font: 22px/40px 'bold', arial, verdana, helvetica, serif;
    overflow: hidden;
    visibility: hidden;
    left:180px;
}

footer ul
{
    position: relative;
    clear: left;
    float: left;
    left: 50%;
    text-align: center;
    list-style: none;
}

footer ul li
{
   position: relative;
   display: block;
   right: 50%;
   float: left;
   list-style: none;
   padding: 0 16px;
}

footer ul li:first-child {
    padding-left:0;
}

/* NAVIGACE */

nav
{
    position: fixed;
    top: 55%;
    left: 30px;
    width: 70px;
    height: 490px;
    color: #2f2f2f;
    font: 16px/1.1 'bold', arial, verdana, helvetica, serif;
    text-transform: uppercase;
    margin: -245px 0 0 0;
}

nav ul li ul.work {
    top:42%;
}

nav ul li
{
    position: relative;
    width: 10px;
    text-align: center;
    word-break: break-all;
    padding: 20px 0;
}

nav ul li a, nav ul li a:hover
{
    color: #303030;
    text-decoration: none;
}

nav ul li ul
{
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    margin: -20px 0 0;
}

nav ul li ul li
{
    padding: 0;
}

nav ul li:last-of-type ul
{
    margin: -10px 0 0;
}

nav ul li ul li
{
    display: block;
    width: 20px;
    height: 20px;
    font: 16px 'icons';
    text-align: center;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none;
}

#r {
    float:left;
}

input, textarea, select {
    -webkit-appearance: none;
    border-radius: 0;
}

@media only screen and (min-width: 981px) and (max-width: 1200px)
{
/*section h2, section h3, section h4*/
/*{*/
    /*font-size: 32px;*/
/*}*/

/*section.about h2*/
/*{*/
    /*font-size: 50px;*/
    /*margin: -100px 0 0;*/
/*}*/

/*section.about h2 b*/
/*{*/
    /*font-size: 104px;*/
/*}*/

/*section.about h3*/
/*{*/
    /*margin: -140px 0 0;*/
/*}*/

/*section.about h3 span.b*/
/*{*/
    /*font-size: 60px;*/
/*}*/

/*section.about h4*/
/*{*/
    /*margin: 30px 0 0;*/
/*}*/

/*section.about h4 span.b*/
/*{*/
    /*font-size: 60px;*/
/*}*/
}


@media only screen and (max-width: 768px) {

    section.about div.page h2 {
        margin-top:-150px;
    }
    
    section.about h2 {
        font-size: 60px;
        margin: -100px 0 0;
    }

    section.about h2 b {
        font-size: 94px;
    }

    section.about h2 b
    {
        font-size: 130px;
    }

    section.about h3
    {
        margin: -100px 0 0;
    }

    section.about h3 span.b
    {
        font-size: 40px;
    }

    section.about h4
    {
        margin: 25px 0 0;
    }

    section.about h4 span.b
    {
        font-size: 40px;
    }

    section.references h3,  section.contact h3 {
        font-size:30px
    }

    section.references dl.references dd, section.references dl.clients dd,div.new {
        font-size:12px;
        width: 400px;
    }

    section.references dl.references dt {
        font-size:16px;
    }

    section h2, section h3, section h4 {
        font-size:30px;
    }

    section.about h4 {
        margin-top:0px;
    }

    body {
        width:768px;
    }

    #r {
        float:none;
    }

    section.contact input {
        width: 250px;
    }

    section.contact textarea {
        width:403px;
    }

    section.about h2, section.about h3, section.about h4, div.slide, div.form {
        left: 125px;
    }

    section.references dl.references dd strong {
        font-size:18px;
    }

    section.references ul {
        left:175px;
    }

    footer {
        font-size:16px;
    }

    footer ul li {
        padding: 0 8px
    }

    div.scroll {
        right:44%;
    }

    footer {
        left:150px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{

    section.about div.page h2 {
        margin-top:-180px;
    }

    section.about h2 {
        font-size: 80px;
        margin: -100px 0 0;
    }

    section.about h2 b {
        font-size: 124px;
    }

    section.about h2 b
    {
        font-size: 164px;
    }

    section.about h3
    {
    margin: -140px 0 0;
    }

    section.about h3 span.b
    {
    font-size: 50px;
    }

    section.about h4
    {
    margin: 30px 0 0;
    }

    section.about h4 span.b
    {
    font-size: 50px;
    }

    section.references h3,  section.contact h3 {
        font-size:36px
    }

    section.references dl.references dd, section.references dl.clients dd,div.new {
        font-size:14px;
        width: 490px;
    }

    section.references dl.references dt {
        font-size:20px;
    }

    section h2, section h3, section h4 {
        font-size:40px;
    }

    section.about h4 {
        margin-top:-10px;
    }

    section.references ul {
        left:240px;
    }

    body {
        width:1024px;
    }

    #r {
        float:left;
    }

    div.scroll {
        right:44%;
    }


}

@media only screen and (min-width: 641px) and (max-width: 767px)
{

}

@media only screen and (max-width: 640px)
{

}

#message {
    margin-top:40px;
}

#message h4 {
    font-size:24px;
}

#circleG{
    width:28px;
    margin-top:40px;
}

.circleG{
    background-color:#FFFFFF;
    float:left;
    height:6px;
    margin-left:3px;
    width:6px;
    -moz-animation-name:bounce_circleG;
    -moz-animation-duration:1.9500000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:4px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:1.9500000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:4px;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:1.9500000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:4px;
    -o-animation-name:bounce_circleG;
    -o-animation-duration:1.9500000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:4px;
    animation-name:bounce_circleG;
    animation-duration:1.9500000000000002s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:4px;
}

#circleG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circleG_2{
    -moz-animation-delay:0.9099999999999999s;
    -webkit-animation-delay:0.9099999999999999s;
    -ms-animation-delay:0.9099999999999999s;
    -o-animation-delay:0.9099999999999999s;
    animation-delay:0.9099999999999999s;
}

#circleG_3{
    -moz-animation-delay:1.1700000000000002s;
    -webkit-animation-delay:1.1700000000000002s;
    -ms-animation-delay:1.1700000000000002s;
    -o-animation-delay:1.1700000000000002s;
    animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#000000}

    100%{
    }

}

@-webkit-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#000000}

    100%{
    }

}

@-ms-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#000000}

    100%{
    }

}

@-o-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#000000}

    100%{
    }

}

@keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#000000}

    100%{
    }

}